extends ../layout

block content
  .page-header
    h3 Edit Life Map

  .page-header
    h4 Create New Life Marker

  form.form-horizontal(action='/map/edit-life-map/create-marker', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    input(type='hidden', name='user-id', id='user-id', value='#{user.id}')
    .form-group
      label.col-sm-3.control-label(for='title') Title
      .col-sm-7
        input.form-control(type='text', name='title', id='title', value='Test Event', placeholder='Name for your life event')
    .form-group
      label.col-sm-3.control-label(for='date-from') Date From
      .col-sm-7
        input.form-control(type='text', name='date-from', id='date-from', value='11-11-2011', placeholder='Date you got there(MM-DD-YYYY)')
      label.col-sm-3.control-label(for='date-to') Date To
      .col-sm-7
        input.form-control(type='text', name='date-to', id='date-to', value='11-12-2012', placeholder='Date you left there(MM-DD-YYYY)')
    .form-group
      label.col-sm-3.control-label(for='location-name') Location Name
      .col-sm-7
        input.form-control(type='text', name='location-name', id='location-name', value='Austin', placeholder='Give your location a name')
      label.col-sm-3.control-label(for='location-address') Location Address
      .col-sm-7
        input.form-control(type='text', name='location-address', id='location-address', value='Austin, Tx', placeholder='Location you went to')
    .form-group
      label(class='col-sm-2 control-label', for='description') Description
      .col-sm-8
        textarea.form-control(name='description', id='description', rows='7', placeholder='Describe your experience/life event')
    .form-group
      label.col-sm-3.control-label(for='private') Private
      .col-sm-6
        label.radio.col-sm-3
          input(type='radio', name='private', value='true', data-toggle='radio')
          span Private
        label.radio.col-sm-3
          input(type='radio', name='private', value='false', data-toggle='radio' checked)
          span Not Private
    .form-group
      .col-sm-offset-3.col-sm-4
        button.btn.btn.btn-primary(type='submit')
          i.fa.fa-pencil
          | Create Life Marker

  .page-header
    h4 Choose an Existing Life Marker to Edit

  form.form-horizontal(action='/map/edit-life-marker/:life-marker', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    for marker in lifeMarkers
      button.btn.btn-primary(type='submit' name='life-marker' value='#{marker._id}')
        i.fa.fa-check-square
          | #{marker.title}
